@font-face {
    font-family: 'roboto';
    src: url('../fonts/Roboto/Roboto-Regular.ttf');
}

body {
    font-family: 'roboto';
}


.button {
    margin-left: 40px;
}

.button2 {
    margin-left: 19px;
}

.overflow {
    overflow: scroll;
}


body {
    display: inline-block;
}

div {
    display: flex;
    align-items: center;
}

div label {
    padding-left: 35px;
}



fieldset {
    padding-left: 20px;
    padding-right: 250px;
}

fieldset div:nth-of-type(2) p {
    padding-right: 35px;
}

fieldset div:nth-of-type(3) select {
    margin-left: 28px;
}


fieldset div:nth-of-type(4) select {
    overflow: scroll;
}